{% extends 'layout.html' %}

{% block content %}
<!--Base de connaissances-->
<section id="punchline" class="knowledge">

	<div class="wrapper">
		<div class="container">
            <h1>Placez le savoir au coeur<br>de votre entreprise !</h1>
            <p>Facilitez les échanges sur vos différents canaux de communication<br>grâce à la base de connaissances SAIO</p>
            <form class="test">
                <input type="text" name="test-header" placeholder="Votre adresse e-mail" size="30" required/>
                <button class="button mail">Demander un test</button>
            </form>
        </div>
        <img src="{{ url }}images/folders.svg" alt="Chat automatique">
    </div>

</section>

<section id="icons">

    <div class="wrapper">
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/central.svg" alt="Centraliser"></div>
            <h3>Centraliser</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/simple.svg" alt="Simplifier"></div>
            <h3>Simplifier</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/enrich.svg" alt="Enrichir"></div>
            <h3>Enrichir</h3>
        </div>
    </div>

</section>

<section id="features" class="knowledge">

    <div class="container first left">
        <div class="block">
            <h2>Centralisez et partagez vos connaissances métiers</h2>
            <p>La base de connaissances centralise l'ensemble des questions et réponses métiers de votre entreprise.<br><br>Elle est accessible à toutes vos équipes pour assurer un discours cohérent et pertinent.</p>
        </div>
    </div>

    <div class="container second right">
        <div class="block">
            <h2>Organisez votre base de connaissances comme vous l'entendez</h2>
            <p>Modifiez ou complétez à tout moment votre base de connaissances via notre interface dédiée.<br><br>Pour faciliter la navigation, vous pouvez trier vos données par service ou encore utiliser notre moteur de recherche sémantique.</p>
        </div>
    </div>

    <div class="container third left">
        <div class="block">
            <h2>Améliorez votre base de connaissances en continu</h2>
            <p>Les demandes de vos visiteurs remontées via le <a href="chat-automatique">chat automatique SAIO</a> et/ou le <a href="live-chat">live chat SAIO</a> vous permettent de voir quelles sont les questions sans réponses ou sans retours satisfaisants.<br><br>Vous connaissez les attentes de vos visiteurs et pouvez établir une base de connaissances toujours plus complète et adaptée.</p>
        </div>
    </div>

</section>

<section id="functions">

    <div class="wrapper">
        <div class="container">
            <div class="rounded"><img src="{{ url }}images/install.svg" alt="Centraliser"></div>
            <h2>Une mise en place simple et<br> instantanée</h2>
            <p>Rien de plus simple : nous vous fournissons quelques lignes de code à insérer au sein de votre site Internet.<br>La solution est alors directement disponible sur votre site, il ne vous reste plus qu’à la paramétrer.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="{{ url }}images/admin.svg" alt="Centraliser"></div>
            <h2>Une interface d’administration ergonomique et intuitive</h2>
            <p>L’ensemble de nos produits est administrable via une unique interface back-office accessible directement en ligne. Aucune installation ni aucune connaissance technique ne sont nécessaires.</p>
        </div>
        <div class="container">
            <div class="rounded"><img src="{{ url }}images/responsive.svg" alt="Centraliser"></div>
            <h2>Une solution adaptée sur<br>tous supports</h2>
            <p>Toutes nos solutions sont accessibles aussi bien sur ordinateur que sur mobiles et tablettes. Vos visiteurs ont toujours accès à nos service quelle que soit leur situation.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="{{ url }}images/api.svg" alt="Centraliser"></div>
            <h2>Une API à votre disposition pour tous vos besoins</h2>
            <p>Une demande ou un besoin spécifique ?<br>Notre API vous permet d’une part de développer vos propres fonctionnalités et de les intégrer facilement au sein de notre suite, d’autre part d’intégrer cette dernière à vos solutions existantes.</p>
        </div>
    </div>

</section>

<section id="action" class="knowledge">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}