{% extends 'layout.html' %}

{% block content %}
<!--Business Intelligence-->
<section id="punchline" class="business-intel">

	<div class="wrapper">
		<div class="container">
            <h1>Pilotez votre relation client digitale<br>avec succès !</h1>
            <p>Récupérez tous les informations pertinentes grâce<br>à la Business Intelligence SAIO</p>
            <form class="test">
                <input type="text" name="test-header" placeholder="Votre adresse e-mail" size="30" required/>
                <button class="button mail">Demander un test</button>
            </form>
        </div>
        <img src="{{ url }}images/brain.svg" alt="Chat automatique">
    </div>

</section>

<section id="icons">

    <div class="wrapper">
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/observe.svg" alt="Observer"></div>
            <h3>Observer</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/understand.svg" alt="Comprendre"></div>
            <h3>Comprendre</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="{{ url }}images/react.svg" alt="Réagir"></div>
            <h3>Réagir</h3>
        </div>
    </div>

</section>

<section id="features" class="business-intel">

        <div class="container first left">
            <div class="block">
                <h2>Analysez le comportement des visiteurs de votre site Internet</h2>
                <p>Toutes les interactions sur votre site Internet enrichissent une base de statistiques disponible en temps réel sur votre interface d’administration.<br><br>Mais nous allons plus loin : nos algorithmes se chargent de tirer du sens de vos données afin de vous fournir une analyse complète des besoins et attentes de vos visiteurs.</p>
            </div>
        </div>

        <div class="container second right">
            <div class="block">
                <h2>Contrôlez la qualité de vos outils et la performance de vos équipes</h2>
                <p>Grâce aux informations récoltées, vous suivez en temps réel l’efficacité de votre solution et de vos équipes de support.<br><br>Vous pouvez enfin prendre du recul et monitorer votre relation client digitale dans son ensemble.</p>
            </div>
        </div>

        <div class="container third left">
            <div class="block">
                <h2>Prenez les meilleures décisions à coup sûr</h2>
                <p>Nos reportings réguliers vous permettent de mieux comprendre les besoins et attentes de vos visiteurs.<br><br>Vous pouvez à présent prendre les mesures nécessaires pour améliorer l’efficacité de votre relation client digitale.</p>
            </div>
        </div>

</section>

<section id="action" class="business-intel">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}