{% extends 'layout.html' %}

{% block content %}
<!--Home-->
<section id="punchline" class="home">

    <div class="wrapper">
        <div class="container">
             <h1>Simplifiez votre<br>relation client digitale</h1>
             <p>SAIO vous aide à comprendre et répondre<br>aux attentes de vos visiteurs !</p>
            <form class="test">
                <input type="text" name="test-header" placeholder="Votre adresse e-mail" size="30" required/>
                <button class="button mail">Demander un test</button>
            </form>
        </div>
        <img src="images/saio.svg" alt="Chat automatique">
    </div>

</section>

<section id="packs">

    <div class="wrapper">
        <h2>Solution unifiée de gestion de la relation client digitale</h2>
        <div id="knowledge" class="pack">
            <h3>Unifier<br>& faciliter</h3>
            <p>Facilitez les  échanges sur<br>vos différents canaux de<br>communication</p>
            <a href="base-de-connaissances"><div class="button">Base de connaissances</div></a>
        </div>
        <div id="auto-chat" class="pack">
            <h3>Désengorger<br>& économiser</h3>
            <p>Désengorgez vos centres de contact et réduisez vos coûts de support</p>
            <a href="chat-automatique"><div class="button">Chat automatique</div></a>
        </div>
        <div id="live-chat" class="pack">
            <h3>Capter<br>& vendre</h3>
            <p>Détectez les leads potentiels et augmentez le taux de conversion de votre site Internet</p>
            <a href="live-chat"><div class="button">Live chat</div></a>
        </div>
        <div id="business-intel" class="pack last">
            <h3>Contrôler<br>& améliorer</h3>
            <p>Comprenez les besoins et attentes de vos visiteurs pour mieux y répondre</p>
            <a href="business-intelligence"><div class="button">Business Intelligence</div></a>
        </div>
    </div>

</section>

<section id="features" class="home">

        <div class="container first short left">
            <div class="block">
                <h2>Engagez le dialogue avec vos visiteurs directement sur votre site Internet</h2>
                <p>Offrez à vos visteurs un service client de qualité et réactif grâce au <a href="chat-automatique">chat automatique</a> et au <a href="live-chat">live chat SAIO</a>.<br><br>Vos visiteurs sont assurés de trouver les réponses à leurs questions en un minimum de temps.</p>
            </div>
        </div>

        <div class="container second short right">
            <div class="block">
                <h2>Administrez toute la suite SAIO au sein d’une unique interface en ligne</h2>
                <p>Notre plateforme vous permet d’administrer<br>facilement votre <a href="base-de-connaissances">base de connaissances SAIO</a><br>ainsi que l’ensemble de nos solutions.<br><br>Gérez à tout moment et depuis un simple navigateur l’ensemble de votre service client digital.</p>
            </div>
        </div>

        <div class="container third short left">
            <div class="block">
                <h2>Améliorez votre service client digital en continu</h2>
                <p>Accédez en direct aux informations pertinentes vous permettant de piloter au mieux vos différents services en ligne.<br><br>La <a href="business-intelligence">business intelligence SAIO</a> vous permet de rester à l'écoute de vos visiteurs et de votre entreprise.</p>
            </div>
        </div>

</section>

<section id="functions">

    <div class="wrapper">
        <div class="container">
            <div class="rounded"><img src="images/install.svg" alt="Centraliser"></div>
            <h2>Une mise en place simple et<br> instantanée</h2>
            <p>Rien de plus simple : nous vous fournissons quelques lignes de code à insérer au sein de votre site Internet.<br>La solution est alors directement disponible sur votre site, il ne vous reste plus qu’à la paramétrer.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="images/admin.svg" alt="Centraliser"></div>
            <h2>Une interface d’administration ergonomique et intuitive</h2>
            <p>L’ensemble de nos produits est administrable via une unique interface back-office accessible directement en ligne. Aucune installation ni aucune connaissance technique ne sont nécessaires.</p>
        </div>
        <div class="container">
            <div class="rounded"><img src="images/responsive.svg" alt="Centraliser"></div>
            <h2>Une solution adaptée sur<br>tous supports</h2>
            <p>Toutes nos solutions sont accessibles aussi bien sur ordinateur que sur mobiles et tablettes. Vos visiteurs ont toujours accès à nos service quelle que soit leur situation.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="images/api.svg" alt="Centraliser"></div>
            <h2>Une API à votre disposition pour tous vos besoins</h2>
            <p>Une demande ou un besoin spécifique ?<br>Notre API vous permet d’une part de développer vos propres fonctionnalités et de les intégrer facilement au sein de notre suite, d’autre part d’intégrer cette dernière à vos solutions existantes.</p>
        </div>
    </div>

</section>

<section id="action" class="home">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}