{% extends 'layout.html' %}

{% block content %}
<!--Live chat-->
<section id="punchline" class="live-chat">

	<div class="wrapper">
		<div class="container">
            <h1>Ne manquez plus une seule<br> opportunité de vente !</h1>
            <p>Engagez le dialogue avec le bon visiteur<br>au bon moment grâce au live chat SAIO</p>
            <form class="test">
                <input type="text" name="test-header" placeholder="Votre adresse e-mail" size="30" required/>
                <button class="button mail">Demander un test</button>
            </form>
        </div>
        <img src="images/livechat.svg" alt="Live chat">
    </div>

</section>

<section id="icons">

    <div class="wrapper">
        <div class="icon">
            <div class="rounded"><img src="images/get.svg" alt="Capter"></div>
            <h3>Capter</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="images/advise.svg" alt="Conseiller"></div>
            <h3>Conseiller</h3>
        </div>
        <div class="icon">
            <div class="rounded"><img src="images/sell.svg" alt="Vendre"></div>
            <h3>Vendre</h3>
        </div>
    </div>

</section>

<section id="features" class="live-chat">

        <div class="container first long left">
            <div class="block">
                <h2>Dialoguez en temps réel avec les<br>visiteurs de votre site Internet</h2>
                <p>Proposez une assistance personnelle  aux visiteurs de votre site Internet.<br><br>Durant une conversation, vos conseillers peuvent <br>directement trouver les réponses les plus pertinentes <br>au sein de la <a href="base-de-connaissances">base de connaissances SAIO</a>.</p>
            </div>
        </div>

        <div class="container second short right">
            <div class="block">
                <h2>Concentrez-vous sur les<br>questions importantes</h2>
                <p>Afin de filtrer un maximum de questions, le live chat peut être relié au <a href="chat-automatique">chat automatique SAIO</a>.<br>Vos conseillers reprennent la main uniquement lorsque ce dernier est mis en défaut.<br><br>Ils ont alors accès à l’historique de la conversation et peuvent répondre en un minimum de temps.</p>
            </div>
        </div>

        <div class="container third short left">
            <div class="block">
                <h2>Détectez à coup sûr<br>les opportunités de vente</h2>
                <p>Le ciblage comportemental vous permet de qualifier les visiteurs de votre site Internet. Vous êtes alerté lorsqu'un acheteur potentiel est indécis ou en difficulté.<br><br>Ne manquez plus une seule vente !</p>
            </div>
        </div>

        <div class="charts">
            <div class="chart 1"></div>
            <div class="chart 2"></div>
            <div class="chart 3"></div>
            <div class="chart 4"></div>
            <div class="chart 5"></div>
            <div class="chart 6"></div>
            <div class="chart 7"></div>
            <div class="chart 8"></div>
        </div>
        <div class="line"></div>

        <div class="wrapper container-last">
            <div class="capitalize">
                <h2>Suivez et contrôlez la<br>performance de vos équipes</h2>
                <p>Satisfaction client, durée moyenne de traitement, temps d'attente moyen... Vous avez accès à des statistiques claires et pertinentes pour le pilotage de votre activité.<br><br>Toutes ces données alimentent la Business Intelligence<br>et vous permettent de comprendre les besoins de vos visiteurs et de mieux y répondre.</p>
                <a href="business-intelligence"><div class="button">En savoir plus</div></a>
            </div>
        </div>

</section>

<section id="functions">

    <div class="wrapper">
        <div class="container">
            <div class="rounded"><img src="images/install.svg" alt="Centraliser"></div>
            <h2>Une mise en place simple et<br> instantanée</h2>
            <p>Rien de plus simple : nous vous fournissons quelques lignes de code à insérer au sein de votre site Internet.<br>La solution est alors directement disponible sur votre site, il ne vous reste plus qu’à la paramétrer.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="images/admin.svg" alt="Centraliser"></div>
            <h2>Une interface d’administration ergonomique et intuitive</h2>
            <p>L’ensemble de nos produits est administrable via une unique interface back-office accessible directement en ligne. Aucune installation ni aucune connaissance technique ne sont nécessaires.</p>
        </div>
        <div class="container">
            <div class="rounded"><img src="images/responsive.svg" alt="Centraliser"></div>
            <h2>Une solution adaptée sur<br>tous supports</h2>
            <p>Toutes nos solutions sont accessibles aussi bien sur ordinateur que sur mobiles et tablettes. Vos visiteurs ont toujours accès à nos service quelle que soit leur situation.</p>
        </div>
        <div class="container last">
            <div class="rounded"><img src="images/api.svg" alt="Centraliser"></div>
            <h2>Une API à votre disposition pour tous vos besoins</h2>
            <p>Une demande ou un besoin spécifique ?<br>Notre API vous permet d’une part de développer vos propres fonctionnalités et de les intégrer facilement au sein de notre suite, d’autre part d’intégrer cette dernière à vos solutions existantes.</p>
        </div>
    </div>

</section>

<section id="action" class="live-chat">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}