{% extends 'layout.html' %}

{% block content %}
<!--Société-->
<section id="punchline" class="legal-mentions">

    <h1>Mentions légales</h1>

</section>

<section id="presentation">

    <div class="wrapper">
        <p>Le site www.saio.fr est une publication de SAIO SAS, société par actions simplifiées au capital de 20 000€, ayant son siège social au :<br>9 rue Charles Fourier 91000 Evry.<br><br>Directeur de la publication : Nicolas Mitchell<br><br>Numéro de téléphone : +33 1 55 01 04 37<br><br>Ce site est hébergé chez Ovh situé au :<br>2 rue Kellermann<br>BP 80157<br>59100 Roubaix</p>
    </div>

</section>

<section id="action" class="legal-mentions">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}