{% extends 'layout.html' %}

{% block content %}
<!--Société-->
<section id="punchline" class="partners">

    <div class="wrapper">
        <h1>Découvrez les partenaires SAIO</h1>
    </div>

</section>

<section id="presentation" class="partners">

    <div class="wrapper">
        <h2>Notre réseau d'experts à votre service</h2>
        <p>Nos services comprennent l'accompagnement personnalisé de l’un de nos partenaires pour faciliter la mise en place de nos solutions.<br><br>Ce dernier s'occupera du suivi de l’ensemble de votre projet afin de vous garantir une qualité de service optimale. Il se chargera en particulier de la formation de vos équipes ou encore des développements spécifiques à votre entreprise le cas échéant.

        </p>
    </div>

</section>

<section id="partners">

    <div class="wrapper">
        <div class="partner">
            <div class="container left">
                <div class="crop"><img class="apps2com" src="{{ url }}images/logo-apps2com.png" alt="apps2com"></div>
                <a href="http://www.apps2com.fr/" target="_blank"><h2>Apps2com</h2></a>
                <p>Partenaire historique de SAIO, Apps2com est expert dans la mise en place et l’intégration de nos solutions.</p>
            </div>
            <div class="container right">
                <span>Clients :</span>
                <div class="clients">
                   <a class="client sosmalus" href="http://www.sosmalus.eu" target="_blank">
                        <img src="{{ url }}images/logo-sosmalus.png">
                        <h3>SOS Malus</h3>
                    </a>
                    <a class="client" href="http://www.sosmalus.eu" target="_blank">
                        <img src="{{ url }}images/logo-sosmalus.png">
                        <h3>SOS Malus</h3>
                    </a>
                </div>
                <div class="clients second">
                   <a class="client sosmalus" href="http://www.sosmalus.eu" target="_blank">
                        <img src="{{ url }}images/logo-sosmalus.png">
                        <h3>SOS Malus</h3>
                    </a>
                    <a class="client" href="http://www.sosmalus.eu" target="_blank">
                        <img src="{{ url }}images/logo-sosmalus.png">
                        <h3>SOS Malus</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contact-form">

    <div class="wrapper">
        <h2>Vous souhaitez devenir partenaire ?</h2>
        <form class="partner-form">
            <input type="text" name="lname" placeholder="Votre nom" size="30" required/>
            <input type="text" name="company" placeholder="Votre entreprise" size="30" required/>
            <input type="email" name="email" placeholder="Votre adresse e-mail" size="30" required/>
            <button class="button mail">Envoyer</button>
        </form>

    </div>

</section>
{% endblock %}