{% extends 'layout.html' %}

{% block content %}
<!--Société-->
<section id="punchline" class="home partners">

    <div class="wrapper">
        <div class="container">
            <h1>Nos partenaires<br>vous accompagnent</h1>
            <p>De la définition de vos besoins jusqu’au suivi de vos performances,<br>les partenaires SAIO vous permettent d'optimiser votre service client</p>
            <a href="http://www.apps2com.fr" target="_blank"><img class="apps2com" src="{{ url }}images/logo-apps2com-white.png" alt="Apps2com"></a>
        </div>
    </div>

</section>

<section id="presentation" class="partners">

    <div class="wrapper">
        <div class="container">
            <div class="content">
                <!--<div class="rounded"><img src="{{ url }}images/expert.svg" alt="Experts qualifiés"></div>-->
                <h2>Des experts<br>qualifiés</h2>
                <p>Nos spécialistes de la relation client vous conseillent pour améliorer votre service client.</p>
            </div>
            <!--<div class="content">
                <div class="rounded"><img src="{{ url }}images/certificate.svg" alt="Intégrateurs certifiés"></div>
                <h2>Des intégrateurs<br>certifiés</h2>
                <p>Nos partenaires sont formés en continu pour vous garantir une qualité de service optimale.</p>
            </div>-->
            <div class="content last">
                <!--<div class="rounded"><img src="{{ url }}images/team.svg" alt="Centraliser"></div>-->
                <h2>Un suivi<br>personnalisé</h2>
                <p>Les partenaires SAIO assurent un suivi pendant toute la durée de vie de votre projet.</p>
            </div>
        </div>
    </div>

</section>

<section id="testimony" class="partners">

    <div class="wrapper">
        <div class="container">
            <div class="images">
                <img src="{{ url }}images/logo-sosmalus-white.png" alt="SOS Malus">
                <span>avec</span>
                <img class="apps2com" src="{{ url }}images/logo-apps2com-white.png" alt="Apps2com">
            </div>
            <p>"SAIO nous permet de répondre efficacement aux attentes de nos visiteurs sur notre site Internet.<br><br>En parallèle <a href="http://apps2com.fr" target="_blank">Apps2com</a> nous aide dans la mise en place de ces nouveaux outils et nous forme à leur utilisation."</p>
            <div class="signature">
                <img class="labalette" src="{{ url }}images/labalette.jpg">
                <span>Eric Labalette, président de <a href="http://www.sosmaleus.eu" target="_blank">SOS Malus</a></span>
            </div>     
        </div>
        <!--<div class="partner">
            <span>Partenaire</span>
            <a href="http://apps2com.fr" target="_blank"><img class="apps2com" src="{{ url }}images/logo-apps2com.png" alt="Apps2com"></a>
        </div>-->
    </div>

</section>

<section id="features" class="partners">

    <div class="wrapper">

        <h2>Un accompagnement optimal</h2>
        <div class="timeline"></div>
        <div class="container left">
            <div class="block">
                <div class="step">1</div>
                <h2>Définition de vos besoins</h2>
                <p>Grâce à leur expertise, nos partenaires peuvent définir vos besoins et vous recommander les meilleures solutions pour y répondre.</p>
            </div>
        </div>
        <div class="container right">
            <div class="block">
                <div class="step">2</div>
                <h2>Mise en place sur votre site</h2>
                <p>L’installation et la configuration de nos solutions sont assurées par un de nos partenaires. Ce dernier sera votre interlocuteur privilégié jusqu’à la fin de votre projet.</p>
            </div>
        </div>
        <div class="container left">
            <div class="block">
                <div class="step">3</div>
                <h2>Formation de vos effectifs</h2>
                <p>Vos équipes sont formées en continu à l’utilisation de nos solutions. Notre partenaire se chargera également de la conduite du changement au sein de votre entreprise.</p>
            </div>
        </div>
        <div class="container right">
            <div class="block">
                <div class="step">4</div>
                <h2>Construction de la base de connaissances</h2>
                <p>Notre partenaire vous aidera dans la préparation, l’intégration et l’amélioration de votre base de connaissances métier.</p>
            </div>
        </div>
        <div class="container left">
            <div class="block">
                <div class="step">5</div>
                <h2>Suivi de vos performances</h2>
                <p>Vous recevrez régulièrement un reporting des performances de vos outils vous permettant d’améliorer votre relation client digitale en continu.</p>
            </div>
        </div>
    </div>

</section>

<section id="partners">

    <div class="wrapper">
        <h2>Nos partenaires</h2>
        <div class="partner">
            <div class="container">
                <div class="description">
                    <img class="apps2com" src="{{ url }}images/logo-apps2com.png" alt="apps2com">
                    <p>Expert en solutions et technologies de communication, <a href="http://apps2com.fr" target="_blank">Apps2com</a> devient partenaire de SAIO en 2013.<br><br>Son objectif est d'accompagner ses clients afin qu'ils puissent se focaliser sur leur métier.</p>
                </div>
            </div>
            <div class="container last">
                <span>Références associées :</span>
                <div class="clients">
                   <a class="client" href="http://www.sosmalus.eu" target="_blank">
                        <img class="sosmalus" src="{{ url }}images/logo-sosmalus.png" alt="SOS Malus">
                        <h3>SOS Malus</h3>
                    </a>
                    <a class="client" href="http://www.sollyazar.com" target="_blank">
                        <img class="sollyazar" src="{{ url }}images/logo-sollyazar.jpg" alt="Sollyazar">
                        <h3>Sollyazar</h3>
                    </a>
                    <a class="client" href="http://www.sosmalus.eu" target="_blank">
                        <img class="best-assurances" src="{{ url }}images/logo-ipac64.jpg" alt="Best assurances">
                        <h3>Best assurances</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section id="contact-form">

    <div class="wrapper">
        <h2>Vous souhaitez devenir partenaire ?</h2>
        <form class="partner-form">
            <input type="text" name="lname" placeholder="Votre nom" size="30" required/>
            <input type="text" name="company" placeholder="Votre entreprise" size="30" required/>
            <input type="email" name="email" placeholder="Votre adresse e-mail" size="30" required/>
            <button class="button mail">Envoyer</button>
        </form>

    </div>

</section>
{% endblock %}