{% extends 'layout.html' %}

{% block content %}
<!--Société-->
<section id="punchline" class="partners">

    <h1>Découvrez les partenaires SAIO</h1>

</section>

<section id="presentation">

    <div class="wrapper">
        <h2>Notre réseau d'experts à votre service</h2>
        <p>Nous vous proposons un accompagnement personnalisé pour faciliter la mise en place de nos solutions. L’un de nos experts agréés SAIO suivra l’ensemble de votre projet afin de vous garantir une qualité de service optimale.<br><br>Cet expert se chargera de la formation de vos équipes ou encore des développements spécifiques à votre entreprise le cas échéant.
        </p>
    </div>

</section>

<section id="partners">

    <div class="wrapper">
        <div class="partner">
            <img src="{{ url }}images/logo-apps2com.png" alt="apps2com">
            <a href="http://www.apps2com.fr/" target="_blank"><h2>Apps2com</h2></a>
            <p>Partenaire historique de SAIO, Apps2com est expert dans la mise en place et l’intégration de nos solutions.</p>
        </div>
    </div>

</section>

<section id="">

    <div class="wrapper">
        <h2>Demandez une démonstration personnalisée !</h2>
        <form class="partner-form">
            <input type="text" name="lname" placeholder="Votre nom" size="30" required/>
            <input type="text" name="company" placeholder="Votre entreprise" size="30" required/>
            <input type="email" name="email" placeholder="Votre adresse e-mail" size="30" required/>
            <button class="button mail">Envoyer</button>
        </form>

    </div>

</section>

<section id="action" class="home">

    <h2>Vous souhaitez devenir partenaire ? Remplissez le formulaire suivant :</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}