{% extends 'layout.html' %}

{% block content %}
<!--Pricing-->
<section id="pricing" class="auto-chat">

    <div class="wrapper">
        <img class="avatar" src="{{ url }}images/jc.svg" alt="Jean-Claude GIRON">
        <div class="container">
            <h2>Chat automatique SAIO</h2>
            <p>Sélectionnez le nombre de conversations que vous souhaitez réaliser par mois :</p>
            <div class="slider">
                <input type="range" min="0" max="1000" step="100" value="600">
            </div>
            <h2>Choisissez votre formule</h2>
            <div class="offers">
                <div class="basic selected">
                    <div class="button">BASIC</div>
                    <ul>
                        <li>Construisez une base de Q/R pour vos clients</li>
                        <li>Répondez automatiquement aux questions de vos visiteurs directement sur votre site Internet</li>
                        <li>Améliorez votre service grâce aux questions non répondues</li>
                        <li>Redirigez vos visiteurs vers le bon interlocuteur en cas de besoin</li>
                    </ul>
                </div>
                <div class="pro">
                    <div class="button">PRO</div>
                    <ul>
                        <li>Construisez une base de Q/R pour vos clients</li>
                        <li>Répondez automatiquement aux questions de vos visiteurs directement sur votre site Internet</li>
                        <li>Améliorez votre service grâce aux questions non répondues</li>
                        <li>Redirigez vos visiteurs vers le bon interlocuteur en cas de besoin</li>
                        <li>Envoyez des messages automatiques riches</li>
                        <li>Discutez en temps réel avec vos visiteurs</li>
                        <li>Reporting d'activités hebdomadaire</li>
                        <li>Support premium</li>
                    </ul>
                </div>
            </div>
            <span>Le prix sera de :</span>
            <div class="price"></div>
        </div>
    </div>

</section>
{% endblock %}