{% extends 'layout.html' %}

{% block content %}
<!--Pricing-->
<section id="pricing" class="live-chat">

    <div class="wrapper">
        <img class="avatar" src="{{ url }}images/jc.svg" alt="Jean-Claude GIRON">
        <div class="container">
            <h1>Live chat SAIO</h1>
            <h2>Agents</h2>
            <p>Quel est le nombre d'agents chez votre client ?</p>
            <div class="slider">
                <input type="range" min="1" max="20" step="1" value="5">
            </div>
            <h2>Formule</h2>
            <p>Quelle est la formule la plus adaptée votre client ?</p>
            <div class="offers live-chat">
                <div class="basic selected">
                    <div class="button">BASIC</div>
                    <ul>
                        <li>Discutez en temps réel avec les visiteurs de votre site Internet</li>
                        <li>Appuyez vous sur une base de Q/R quand vous discutez</li>
                        <li>Proposez un formulaire de contact quand vous êtes indisponible</li>
                    </ul>
                </div>
                <div class="pro">
                    <div class="button">PRO</div>
                    <ul>
                        <li>Discutez en temps réel avec les visiteurs de votre site Internet</li>
                        <li>Appuyez-vous sur une base de Q/R quand vous discutez</li>
                        <li>Proposez un formulaire de contact quand vous êtes indisponible</li>
                        <li>Envoyez des messages pré-enregistrés</li>
                        <li>Bénéficiez de statistiques d’activité en temps réel</li>
                        <li>Recevez un reporting d'activité hebdomadaire</li>
                        <li>Organisez vos agents par pôle de compétences</li>
                    </ul>
                </div>
            </div>
            <h2>Votre prix</h2>
            <div class="price"></div>
            <span class="options"></span>
            <h2>Options</h2>
            <div class="option">
                <div class="checkbox" value="600"></div><span>Design (600€) :<br>Personnalisez la position, les textes et la couleur de votre application</span>
            </div>
            <div class="option last">
                <div class="checkbox" value="10000"></div><span>Marque blanche (10 000€) :<br>Enlevez toute référence à la marque SAIO</span>
            </div>
        </div>
    </div>

</section>
{% endblock %}