{% extends 'layout.html' %}

{% block content %}
<!--Pricing-->
<section id="pricing" class="live-chat">

    <div class="wrapper">
        <img class="avatar" src="{{ url }}images/jc.svg" alt="Jean-Claude GIRON">
        <div class="container">
            <h2>Live chat SAIO</h2>
            <p>Sélectionnez le nombre d’agents qui vont utiliser la solution :</p>
            <div class="slider">
                <input type="range" min="0" max="20" step="1" value="5">
            </div>
            <h2>Choisissez votre formule</h2>
            <div class="offers">
                <div class="basic selected">
                    <div class="button">BASIC</div>
                    <ul>
                        <li>Discutez en temps réel avec les visiteurs de votre site Internet</li>
                        <li>Appuyez vous sur une base de Q/R quand vous discutez</li>
                        <li>Proposez un formulaire de contact quand vous êtes indisponible</li>
                    </ul>
                </div>
                <div class="pro">
                    <div class="button">PRO</div>
                    <ul>
                        <li>Discutez en temps réel avec les visiteurs de votre site Internet</li>
                        <li>Appuyez-vous sur une base de Q/R quand vous discutez</li>
                        <li>Proposez un formulaire de contact quand vous êtes indisponible</li>
                        <li>Envoyez des messages pré-enregistrés</li>
                        <li>Bénéficiez de statistiques d’activité en temps réel</li>
                        <li>Recevez un reporting d'activité hebdomadaire</li>
                        <li>Organisez vos agents par pôle de compétences</li>
                    </ul>
                </div>
            </div>
            <h2>Votre prix</h2>
            <div class="price"></div>
            <span>+ 200€ de mise en place</span>
        </div>
    </div>

</section>
{% endblock %}