{% extends 'layout.html' %}

{% block content %}
<!--Pricing-->
<section id="pricing" class="auto-chat">

    <div class="wrapper">
        <img class="avatar" src="{{ url }}images/jc.svg" alt="Jean-Claude GIRON">
        <div class="container">
            <h1>Prix d'achat distributeur</h1>
            <h2 class="first">Pages vues mensuelles</h2><div class="help">?<p class="info">10 000 pages vues correspondent à 200 conversations en moyenne par mois.</p></div>
            <div class="slider">
                <input type="range" min="1" max="29" step="1" value="10">
            </div>
            <h2>Durée d'engagement</h2>
            <div id="radio" class="options-container">
                <div class="option">
                    <div class="radio selected" value="0" engage="0"></div><span>6 mois</span>
                </div>
                <div class="option">
                    <div class="radio" value="0" engage="5"></div><span>1 an (-5%)</span>
                </div>
                <div class="option">
                    <div class="radio" value="0" engage="10"></div><span>2 ans (-10%)</span>
                </div>
                <div class="option last">
                    <div class="radio" value="0" engage="20"></div><span>3 ans (-20%)</span>
                </div>
            </div>
            <h2>Prix</h2>
            <div class="price"></div>
            <span class="options"></span>
            <h2>Options</h2>
            <div class="options-container">
                <div class="option">
                    <div class="checkbox" value="2400"></div><span>Avatar sur mesure (2 400€)</span><div class="help">?<p class="info">Création d'un avatar virtuel sur-mesure qui sera le porte-parole de la marque<br>(3 propositions maximum)</p></div>
                </div>
                <div class="option last">
                    <div class="checkbox" value="3000"></div><span>Marque blanche (3 000€)</span><div class="help">?<p class="info">Suppression des indications relatives à la marque SAIO</p></div>
                </div>
            </div>
             <div class="options-container">
                <!--<div class="option">
                    <div class="checkbox" value="0" forfait="69"></div><span>Live chat (+ 69€/mois)</span><div class="help">?<p class="info">Proposition de redirection vers un conseiller de clientèle via live chat<br>(Nombre d'agents illimité)</p></div>
                </div>-->
                <div class="option">
                    <div class="checkbox" value="0" forfait="69"></div><span>Historique étendu (69€/mois)</span><div class="help">?<p class="info">Garder un historique à vie des statistiques et conversations de l'application</p></div>
                </div>
            </div>
            <div class="options-container">
                <div class="option last">
                    <div class="checkbox" value="0" devis="0"></div>
                    <span class="bdd">Rédaction d'une première base de connaissances (sur devis)</span><div class="help">?<p class="info">Réalisation d'une première base de questions/réponses relatives à l'entreprise</p></div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}