{% extends 'layout.html' %}

{% block content %}
<!--Pricing-->
<section id="pricing" class="auto-chat">

    <div class="wrapper">
        <img class="avatar" src="{{ url }}images/jc.svg" alt="Jean-Claude GIRON">
        <div class="container">
            <h1>Chat automatique SAIO</h1>
            <h2>Conversations</h2>
            <p>Sélectionnez le nombre de conversations que vous souhaitez réaliser par mois :</p>
            <div class="slider">
                <input type="range" min="1" max="28" step="1" value="9">
            </div>
            <h2>Choisissez votre formule</h2>
            <div class="offers">
                <div class="basic selected">
                    <div class="button">BASIC</div>
                    <ul>
                        <li>Construisez votre base de Q/R</li>
                        <li>Répondez automatiquement aux questions inscrites dans votre base</li>
                        <li>Récupérez les questions posées par vos clients</li>
                        <li>Améliorez votre base de Q/R</li>
                        <li>Redirigez vos clients en cas de besoin</li>
                    </ul>
                </div>
                <div class="pro">
                    <div class="button">PRO</div>
                    <ul>
                         <li>Construisez votre base de Q/R</li>
                        <li>Répondez automatiquement aux questions inscrites dans votre base</li>
                        <li>Récupérez les questions posées par vos clients</li>
                        <li>Améliorez votre base de Q/R</li>
                        <li>Redirigez vos clients en cas de besoin</li>
                        <li>Discutez en temps réel avec les visiteurs de votre site Internet</li>
                        <li>Bénéficiez de statistiques d’activité en temps réel</li>
                        <li>Recevez un reporting d’activité hebdomadaire</li>
                    </ul>
                </div>
            </div>
            <h2>Votre prix</h2>
            <div class="price"></div>
            <span>+ 400€ de mise en place</span>
        </div>
    </div>

</section>
{% endblock %}