<!DOCTYPE html>
<html>

  <head>
  	<meta charset="utf-8">
  	<title>{{ title }}</title>
    <link rel="icon" type="image/png" href="{{ url }}images/favicon_saio.png">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="{{ url }}css/reset.css" type="text/css">
    <link rel="stylesheet" href="{{ url }}css/style.css" type="text/css"><link rel="stylesheet" href="{{ url }}css/responsive.css" type="text/css">
    <!--[if lt IE 9]>
      <link type="text/css" rel="stylesheet" href="{{ url }}css/style-ie.css" />
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="dist/html5shiv.js"></script>
    <![endif]-->
		<meta name="viewport" content="width=device-width, maximum-scale=1" />
  	<meta name="keywords" content="SAIO, base de connaissances, chat automatique, live chat, business intelligence, agent virtuel"/>
  	<meta name="description" content="{{ description }}"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="7AxPnAvI-RWo4NZ48XL0uW6mK5zEKYk71-6fSOCcbmo" />
    <meta property="og:image" content="{{ url }}/images/og{{ route }}.png">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="http://www.saio.fr/{{ route }}">
    <meta property="og:site_name" content="SAIO">

  </head>

  <body>

    <img src="{{ url }}/images/showroomprive.png" alt="client background">

    <script type="text/javascript">
    (function() {
      var licence = '5588011104325';
      var lily = document.createElement('script'); lily.type = 'text/javascript'; lily.async = true;
      lily.src = 'http://saio.fr/app/tracking/' + licence;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lily, s);
    })();
    </script>

  </body>

</html>