{% extends 'layout.html' %}

{% block content %}
<!--Société-->
<section id="punchline" class="society">

    <h1>Découvrez qui se cache<br>derrière SAIO</h1>

</section>

<section id="presentation">

    <div class="wrapper">
        <h2>Notre vision</h2>
        <p>Créée en avril 2014, SAIO ambitionne de révolutionner le service client digital. Notre mission est de simplifier la façon dont les entreprises et leurs clients communiquent et interagissent sur le web.<br><br>Nous sommes convaincus que l’essentiel d’une solution logicielle réside dans sa simplicité et son ergonomie.<br>C’est pourquoi nous développons nos produits afin qu’ils soient faciles d’installation, d’administration et d’utilisation, que ce soit du côté de votre entreprise ou de celui de vos visiteurs.</p>
    </div>

</section>

<section id="support">

    <div class="wrapper">
        <h2>Ils nous soutiennent</h2>
        <a href="http://incubateur.telecom-sudparis.eu/" target="_blank"><img src="images/logo-incubateur.png" alt="Incubateur TMSP"></a>
        <a href="http://www.iledefrance.fr/" target="_blank"><img src="images/logo-ile-de-france.png" alt="Région Île de France"></a>
        <a href="http://scientipole-initiative.org/" target="_blank"><img src="images/logo-scientipole.png" alt="Scientipôle Initiative"></a>
        <a class="last" href="http://www.mines-telecom.fr/" target="_blank"><img src="images/logo-imt.png" alt="Institut Mines-Télécom"></a>
    </div>

</section>

<section id="team">

    <div class="wrapper">
        <div class="content">
            <img src="images/marina.svg" alt="Marina LOSTAN">
            <div>
                <h3>Marina LOSTAN</h3>
                <p>CEO</p>
                <a href="https://fr.linkedin.com/pub/marina-lostan/78/796/87a" target="_blank">in</a>
            </div>
        </div>
        <div class="content last">
            <img src="images/jc.svg" alt="Jean-Claude GIRON">
            <div>
                <h3>Jean-Claude GIRON</h3>
                <p>Directeur Commercial</p>
                <a href="https://www.linkedin.com/pub/jean-claude-giron/30/545/868" target="_blank">in</a>
            </div>
        </div>
        <div class="content">
            <img src="images/raph.svg" alt="Raphaël SIMON">
            <div>
                <h3>Raphaël SIMON</h3>
                <p>CTO</p>
                <a href="https://fr.linkedin.com/pub/raphael-simon/5b/352/68b" target="_blank">in</a>
                <a class="github" href="#" target="_blank" style="display: none;"></a>
            </div>
        </div>
        <div class="content last">
            <img src="images/nicolas.svg" alt="Nicolas MITCHELL">
            <div>
                <h3>Nicolas MITCHELL</h3>
                <p>Directeur Marketing</p>
                <a href="https://www.linkedin.com/in/nclsmitchell" target="_blank">in</a>
            </div>
        </div>
        <div class="content">
            <img src="images/bruno.svg" alt="Bruno PACCINI">
            <div>
                <h3>Bruno PACCINI</h3>
                <p>CPO</p>
                <a href="https://fr.linkedin.com/pub/bruno-paccini/4b/233/508" target="_blank">in</a>
                <a class="github" href="#" target="_blank" style="display: none;"></a>
            </div>
        </div>
        <div class="content last">
            <img src="images/alexis.svg" alt="Alexis TERRAT">
            <div>
                <h3>Alexis TERRAT</h3>
                <p>Ingénieur Full-Stack</p>
                <a href="https://fr.linkedin.com/pub/alexis-terrat/8a/746/418" target="_blank">in</a>
                <a class="github" href="#" target="_blank" style="display: none;"></a>
            </div>
        </div>
    </div>

</section>

<section id="action" class="society">

    <h2>Demandez une démonstration personnalisée !</h2>
    <form class="test">
        <input type="text" name="test-footer" placeholder="Votre adresse e-mail" size="30" required/>
        <button class="button mail">Demander un test</button>
    </form>

</section>
{% endblock %}