<footer>

    <div class="wrapper">
        <div class="logo">
            <img class="logo" src="{{ url }}images/logo_saio.png">
            <p>© SAIO 2015</p>
        </div>
        <div class="container">
            <h3>Solutions</h3>
            <p><a href="base-de-connaissances">Base de connaissances</a><br><a href="chat-automatique">Chat automatique</a><br><a href="live-chat">Live chat</a><br><a href="business-intelligence">Business Intelligence</a></p>
        </div>
        <div class="container">
            <h3>En savoir plus</h3>
            <p><a href="societe">Société</a><br><a href="mentions-legales">Mentions légales</a></p>
        </div>
        <div class="container contact">
            <h3>Contact</h3>
            <p>+33 1 55 01 04 37<br>contact@saio.fr<br>44, rue Cauchy<br>94 110 Arcueil</p>
        </div>
        <div class="container social">
            <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>
    </div>

</footer>