<footer>

    <div class="wrapper">
        <div class="logo">
            <img class="logo" src="{{ url }}images/logo-saio.png">
            <p>© SAIO 2015</p>
            <a href="https://mixpanel.com/f/partner"><img class="mixpanel" src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
        </div>
        <div class ="container">
            <div class="content solutions">
                <h3>Solutions</h3>
                <p><a href="base-de-connaissances">Base de connaissances</a><br><a href="chat-automatique">Chat automatique</a><br><a href="live-chat">Live chat</a><br><a href="business-intelligence">Business Intelligence</a></p>
            </div>
            <div class="content more">
                <h3>En savoir plus</h3>
                <p><a href="societe">Société</a><br><a href="mentions-legales">Mentions légales</a></p>
            </div>
            <div class="content contact">
                <h3>Contact</h3>
                <p>+33 1 55 01 04 37<br>contact@saio.fr<br>44, rue Cauchy<br>94 110 Arcueil</p>
            </div>
            <div class="content social">
                <a href="https://twitter.com/SAIO_fr" target="_blank"><img class="twitter" src="{{ url }}images/logo-twitter.png"></a>
                <a class="facebook" href="https://www.facebook.com/saio.fr" target="_blank">f</a>
                <a class="linkedin" href="https://www.linkedin.com/company/saio" target="_blank">in</a>
                <a href="http://www.viadeo.com/fr/company/saio" target="_blank"><img class="viadeo" src="{{ url }}images/viadeo.svg"></a>
            </div>
        </div>
    </div>

</footer>