<header>
	<nav>
		<div class="wrapper">
            <img class="mobile-menu" src="{{ url }}images/icon-menu.svg" alt="Menu">
			<a href="/"><img class="logo" src="{{ url }}images/logo-saio.png" alt="SAIO"></a>
            <a href="/"><img class="picto" src="{{ url }}images/picto-saio.png" alt="SAIO"></a>
			<ul>
				<li class="solutions">Solutions</li>
				<li><a href="societe">Société</a></li>
                <li><a href="contact">Contact</a></li>
                <li class="connection">
                    <a href="http://saio.fr/login"><div class="button">Connexion</div></a>
                </li>
                <li class="selector">
					<a href="#">FR<div class="arrow"></div></a>
					<ul class="lang_select">
						<li class="lang_active"><a href="#">FR</a></li>
						<li><a href="#">EN</a></li>
						<li><a href="#">ES</a></li>
					</ul>
                </li>
			</ul>
		</div>
	</nav>
    <div class="solutions-menu">
        <div class="wrapper">
            <a href="base-de-connaissances"><div>
                <img src="{{ url }}images/menu-folders.svg" alt="Base de connaissances">
                <h3>Base de connaissances</h3>
                <p>Unifier & faciliter</p>
            </div></a>
            <a href="chat-automatique"><div>
                <img src="{{ url }}images/menu-robot.svg" alt="Chat automatique">
                <h3>Chat automatique</h3>
                <p>Désengorger & économiser</p>
            </div></a>
            <a class="live-chat" href="live-chat"><div>
                <img src="{{ url }}images/menu-livechat.svg" alt="Live chat">
                <h3>Live chat</h3>
                <p>Capter & vendre</p>
            </div></a>
            <a href="business-intelligence"><div>
                <img src="{{ url }}images/menu-brain.svg" alt="Business intelligence">
                <h3>Business intelligence</h3>
                <p>Contrôler & améliorer</p>
            </div></a>
        </div>
    </div>
</header>